---
name: Reporting

on:
  push:
    branches:
      - main
      - release-*

permissions: {}

jobs:
  vulnerability-scan:
    name: Vulnerability Scanning
    if: github.repository_owner == 'stolostron'
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Run Anchore vulnerability scanner
        uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c
        id: scan
        with:
          path: "."
          fail-build: false
      - name: Show Anchore scan SARIF report
        run: cat ${{ steps.scan.outputs.sarif }}
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
