---
name: Reporting

on:
  push:
    branches:
      - main
      - release-*

permissions: {}

jobs:
  vulnerability-scan:
    name: Vulnerability Scanning
    if: github.repository_owner == 'stolostron'
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Run Anchore vulnerability scanner
        uses: anchore/scan-action@3c9a191a0fbab285ca6b8530b5de5a642cba332f
        id: scan
        with:
          path: "."
          fail-build: false
      - name: Show Anchore scan SARIF report
        run: cat ${{ steps.scan.outputs.sarif }}
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
